# Application
backend/app/plugins/*
!backend/app/plugins/.gitkeep
backend/app/mu-plugins/*/
backend/app/upgrade
backend/app/uploads/*
!backend/app/uploads/.gitkeep
backend/app/cache/*

# WordPress
backend/wp
backend/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
