.form {

}

.loading {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(255, 255, 255, .5);
  }
}

.button {
  border-radius: 50px;
  background-color: var(--color-primary);
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 32px;
  padding-left: 32px;
  font-family: 'Montserrat', sans-serif;
}

.input {
  font-family: 'Montserrat', sans-serif;

  label {
    font-family: 'Montserrat', sans-serif;
  }

  span {
    font-family: 'Montserrat', sans-serif;
  }
}

.line {
  display: flex;
  align-items: center;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
}

.forgotMe {
  font-size: 14px;

  label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.05em;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.05em;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--color-second);
}