:root {
  --color-bg: #dfe7ff;
  --color-primary: #000585;
  --color-primary-hover: #0009a2;
  --color-secondary: #7B7DA1;
  --color-bg-pallet: #fff;

  --border-radius-pallet: 24px;

  --box-shadow-pallet: 5px 5px 20px rgba(30, 83, 210, 0.1);
}