.image {
  background-image: url("../../../public/main.png");
  border-radius: var(--border-radius-pallet);
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  background-size: contain;
}

.body {
  margin: 48px 0;
}

.title {
  margin-bottom: 32px;
}

.text {
  margin-bottom: 32px;
}