.form {
  margin: 16px 0;
}

.input {
  font-family: 'Montserrat', sans-serif;

  label {
    font-family: 'Montserrat', sans-serif;
  }

  span {
    font-family: 'Montserrat', sans-serif;
  }
}

.button {
  border-radius: 50px;
  background-color: var(--color-primary);
  font-weight: bold;
  text-transform: capitalize;
  padding: 18px 32px;
  font-family: 'Montserrat', sans-serif;
}