.image{
  background-image: url("../../../public/intro.png");
  border-radius: var(--border-radius-pallet);
  overflow: hidden;
}

.body {
  margin: 48px 0;
}

.title {
  margin-bottom: 32px;
}

.text {
  margin-bottom: 32px;
}