.header {
  padding: 24px 0;
  display: none;
  align-items: center;

  @media (min-width: 992px) {
    display: flex;
  }
}

.container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 32px;


  //& > * {
  //  height: 100%;
  //  display: flex;
  //  align-items: center;
  //}
}

.logo {
  margin-right: 32px;
  max-height: 50px;
  display: inline-flex;
  align-items: center;

  img {
    height: 50%;
  }
}

.mobileLogo {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: 992px) {
    display: none;
  }
}